/target/
!.mvn/wrapper/maven-wrapper.jar

### Python ###
__pycache__/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Miscellaneous ###
.DS_Store

#
application-prod.properties